<%- include('./partials/header.ejs')%>
<%- include('./partials/fontAwesome.ejs')%>
<main>
    <section class="allevents-container">
      <div class="events-card-container">
        <% event.forEach(e=>{%>
        <div class="event-card">
          <h2><%= e.eventId.title%></h2>
          <div class="additional-information">
            <div class="even-location">
              <p>Location : <span><%= e.eventId.location%></span></p>
            </div>
            <div class="event-hostname">
              <p>Hosted by : <span><%= e.eventId.host%></span></p>
            </div>
          </div>
          <a href="/event/<%= e.eventId._id%>" class="readmore">readmore</a>
        </div>
        <%})%>
      </div>
    </section>
  </main>
  